@charset "ISO-8859-1";

/* body{
    font-family:Verdana;
}
 
#tabela{
    width:100%;
    border:solid 1px;
    text-align:left;
    border-collapse:collapse;
}
 
#tabela tbody tr{
    border:solid 1px;
    height:30px;
    cursor:pointer;
}
 
#tabela thead{
    background:beige;
}
 
#tabela thead th:nth-child(1){
    width:100px;
}
 
#tabela input{
    color:navy;
    width:100%;
}
 */
table {
  border: 1px solid black;
}

        
input[type=submit],[type=button] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=text],[type=password] {
   padding:5px; 
   border:2px solid #ccc; 
   -webkit-border-radius: 5px;
   border-radius: 5px;
}